<h1 class="login">Log In</h1>

<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>


<%= form_tag '/sessions' %>
<a class="login"><%=label_tag "Username"%></a>
<%=text_field_tag "user_name"%>
<a class="login"><%=label_tag "Password"%></a>
<%=password_field_tag "password"%>
<%=submit_tag "Login", class: "login_btn"%>
