<h1 class="signup">Sign Up</h1>

<p class="signup">Please enter a username and password to signup.</p>

<%= form_for @user do |f| %>
  <%= f.label :user_name, "Username", class: "signup_f" %>
  <%= f.text_field :user_name %>
  <%= f.label :password, "Password", class: "signup_f" %>
  <%= f.password_field :password %>

  <%= f.submit "Create New Account", class: "signup_btn"%>
<% end %>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>