<h1 class="profile_u"><%= @user.user_name %> </h1>
<% if @user.blurb %>
    <a class="profile_u"><%= @user.blurb %></a><br><br><br>
<% end %>
<a class="profile_u">Lifetime Points: <%= @user.lifetime_points %></a><br>
<a class="profile_u">Level: <%= @user.level %></a><br><br><br>
<%= button_to "Home", welcome_path, method: :get, class: "profile_btn" %><br><br>
<%= button_to "Log Out", '/logout', method: :delete, class: "profile_btn" %>