<h2>Round: <%= @turn %> - Player: <%= @user.user_name %> - Score: <%= @score %></h2>
<h1>Categories:</h1>
<div class="grid">
    <div class="grid-item"><%= @game.category_1 %></div>
    <div class="grid-item"><%= @game.category_2 %></div>
    <div class="grid-item"><%= @game.category_3 %></div>
    <div class="grid-item"><%= @game.category_4 %></div>
    <div class="grid-item"><%= @game.category_5 %></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_1 %>
        <%= f.hidden_field :difficulty, value: "easy" %>
        <%= f.submit "100" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_2 %>
        <%= f.hidden_field :difficulty, value: "easy" %>
        <%= f.submit "100" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_3 %>
        <%= f.hidden_field :difficulty, value: "easy" %>
        <%= f.submit "100" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_4 %>
        <%= f.hidden_field :difficulty, value: "easy" %>
        <%= f.submit "100" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_5 %>
        <%= f.hidden_field :difficulty, value: "easy" %>
        <%= f.submit "100" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_1 %>
        <%= f.hidden_field :difficulty, value: "medium" %>
        <%= f.submit "300" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_2 %>
        <%= f.hidden_field :difficulty, value: "medium" %>
        <%= f.submit "300" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_3 %>
        <%= f.hidden_field :difficulty, value: "medium" %>
        <%= f.submit "300" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_4 %>
        <%= f.hidden_field :difficulty, value: "medium" %>
        <%= f.submit "300" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_5 %>
        <%= f.hidden_field :difficulty, value: "medium" %>
        <%= f.submit "300" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_1 %>
        <%= f.hidden_field :difficulty, value: "hard" %>
        <%= f.submit "500" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_2 %>
        <%= f.hidden_field :difficulty, value: "hard" %>
        <%= f.submit "500" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_3 %>
        <%= f.hidden_field :difficulty, value: "hard" %>
        <%= f.submit "500" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_4 %>
        <%= f.hidden_field :difficulty, value: "hard" %>
        <%= f.submit "500" %>
    <%end%></div>
    <div class="grid-item"><%= form_with url: api_request_path(@game.id) do |f| %>
        <%= f.hidden_field :category, value: @game.category_5 %>
        <%= f.hidden_field :difficulty, value: "hard" %>
        <%= f.submit "500" %>
    <%end%></div>
</div>
