<h2>Round: <%= @turn %> - Player: <%= @user.user_name %> - Score: <%= @score %></h2>
<h2>Category: <%= @cat %> - Value: <%= @value %></h2>
<br>
<h2>Question: <%= @question %><h2>
<br>
<% @answers.shuffle.each do |answer| %>
    <%= form_with url: guess_path(@game.id) do |f| %>
        <%= f.hidden_field :correct, value: answer[1] %>
        <%= f.submit answer[0] %>
    <%end%><br>
<%end%>
<br><br>
<%= button_to "Back", categories_path(@game), method: :get %>