<h2>Adam Longman and Steven Zhu present</h2>
<h1>Best Guess It</h1>
<br><br>
<%= button_to "Begin Game", new_game_path(@game), method: :get %>
<br>
<%= button_to "Leaderboard", index_path, method: :get %>
<br>
<% if session[:user_id] %>
    <%= button_to "My Profile", user_path(@user), method: :get %>
<% else %>
    <%= button_to "Create New Profile", '/signup', method: :get %><br>
    <%= button_to "Log In", '/login', method: :get %>
<% end %>