<!DOCTYPE html>
<html>
  <head>
    <title>TriviaGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<style>
 body  {
    background-image: url('https://lh3.googleusercontent.com/azLVe-D_aaqphz038kyE4uV9C0e-cYzhDZBcecPT7DBVTNICpD6YXMEDcqN49cAwd_2iaYfp4tLOqqfYYpG8VPRhWOyZkyRejs8sP6T1SjAKlWUObFIw9vvQX0DEROdn5_pk0-mOA3KPsNSKHlWLlkqMtni9fdk8Kd3JEO7Xs_F0vOSZ5peK0N3dDn3PzMXrjy2SJWyJOTGweqdeQvXUyBQ92NIx4I_kMTZC3ZAbUKyy8cFlotzdQIpP8wa2ZjP6yOaI4aDrLlH5vuZQzHafDNIDHS9ZU2l4v98ZWq9PE4LlhVyrgxjdK0PTeMKtTdfQoxvLrugj2ZfaFRB-bmzoC84aRr_nXGgQTB1PEr1FX7V8Yt1weUXcm2sdooR0bAH4c9uYc3a7M9p0MdGf5lG8Pe3uxsHku5XFYDxFgzRs3aXnhqRvCysVB2dxwwkWoBYjnnrutx0ONCdurtml2SKb4qvQA1I0KMbH0J0Sa9sm7D_sJiFQN72SF2K-l59KNcFq5PndeUQMs4zPZ_MchOkykEVT6Q6vLrikPdIHc6hfKp9GmkfIwxJiS0-F7IW3fQgSBlcS6Hy4STsQhiK-80CMWg71SC5RFUxc6ZzjslMuX3Z-S7rLZlE7eg3IpbCWTpAdTscA3BdvxQr0cNwU3njrHhDEn_DcgABLkJRUeGoChWo3qxIjzpoV9bs=w1154-h649-no');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}      
</style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
